@import "../node_modules/bootstrap//dist/css/bootstrap.min.css";

.qty .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  padding: 0 2px
  ;min-width: 35px;
  text-align: center;
}
.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font: 37px/1 Arial,sans-serif;
  text-align: center;
  border-radius: 50%;
  }
.qty .minus,
.qty .reset {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font: 34px/1 Arial,sans-serif;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
}
.qty .two-change{
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  text-align: center;
}
.qty .reset{
  line-height: 40px;
  width: 120px;
  border-radius: 5px;
  font-size: 22px;
  color: white;
}
div {
  text-align: center;
}
.minus:hover{
  background-color: #717fe0 !important;
}
.plus:hover{
  background-color: #717fe0 !important;
}
/*Prevent text selection*/
span{

  margin-right: 15px;
}
input{  
  border: 0;
  width: 2%;
  margin-right: 15px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:disabled{
  background-color:white;
}
       